
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
function myFunction() {
  // Declare variables
  let input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

function mySubmit(page) {
  $("#page_field")[0].value=page
  $("#form").submit();
}
</script>

<input type="search" id="myInput" onkeyup="myFunction()" placeholder="חיפוש שם או אומן...">

<ul id="optionsBar">
  <li><a href="">סדר לפי שיר</a></li>
  <li><a href="">סדר לפי אומן</a></li>
</ul>

<%= form_with id: "form", url: "request/", method: :post, local: true do |form| %>
  <%= hidden_field(:song, :page, id: "page_field") %>
  <ul id="myUL">
    <% @songs.each do |song| %>
      <li title="<%= song['title'] %>" artist="<%= song['artist'] %>"><a href="" onclick="mySubmit(<%= song['page'] %>)"><b><%= song["title"] %></b> - <%= song["artist"] %></a></li>
    <% end %>
  </ul>
<% end %>